@font-face {
  font-family: 'SF Pro Text';
  src: url('/assets/fonts/SF-Pro-Text-Semibold.otf') format('opentype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

.SF-Pro-Text{
    font-family: 'SF Pro Text';
}