

.nav-footer{
  width: calc(100% - 48px);
  margin-left: 24px;
  margin-right: 24px;
  position: fixed;
  bottom: 24px;
  border-radius: 1000px;
  background-color: white;
  padding-top: 12px;
  padding-bottom: 16px;
  padding-left: 32px;
  padding-right: 32px;
}
.icon-inactive {
  text-decoration: none;
  color: #64483e;
  min-width: 42px;
  border-radius: 8px;
  opacity: 0.6;
  &:hover, &:focus{
    opacity: 1;
  }
  &:hover, &:focus, &:active{
    .icon-img{
      visibility: hidden;
    }
     .icon-bigger{
      display:block !important;
     }    
  }
}

.icon-active {
    text-decoration: none;
  color: #64483e;
  min-width: 42px;
  border-radius: 8px;
    opacity: 1;
  .text-center{
        position: relative;
        .icon-bigger{
          display:block;
        }
  }

}


.icon-img{
  width: 24px;
  height: 24px;
}
.unvisible{
  visibility: hidden;
}

.icon-bigger{
  display: none !important;
  position:absolute;
  width: 56px;
  height: 56px;
  left: -7px;
  top: -26px;
}

.icon-add{
  background: linear-gradient(180deg, #4DB1B4 0%, #51B6A1 41.83%, #379DA2 100%);
  border-radius: 1000px;
  padding: 6px;
  border: 4px solid white;
}
.icon-add-position{
  position: absolute;
  bottom: 17px;
  transform: translateX(-17px);
}

.page-home .device .screen section nav div .icon-inactive[data-key="page-home"]{
  opacity: 1;
  .current-page .icon-img{
    visibility: hidden;
  }
  .current-page .icon-bigger{
    display:block !important;
  }
}