.ios-font{
  font-size: 17px;
  line-height: 22px;
  letter-spacing: -0.41px;
}
.nav-header{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;              /* 讓它撐滿螢幕 */
  z-index: 1030;            /* 確保在最上層 */
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0) 100%);

}
.container-mobile{
  padding-left: 24px;
  padding-right: 24px;
  margin: 0 auto;
}

/* 設定 header為 白色 ，<body class="page-index"> */
.page-index .nav-header {
  color: #ffffff;
}
/* 設定 header為 #5B3224 ，<body class="page-role"> */
.page-role .nav-header {
  color: #5B3224;
  background: transparent;
}
