.bottom-line {
    border-radius: $border-radius-pill;
    position: absolute;
    width: 134px;
    height: 5px;
    left: 50%;
    bottom: .5rem;
    transform: translateX(-50%);
    background: $black;

    @include media-breakpoint-down(sm) {
        display: none;
    }
}

.chat {
    padding-top: 3rem;
    height: 100%;
    background: url("../images/chat/chat_background.png") no-repeat center top;
    background-size: cover;

    @include media-breakpoint-down(sm) {
        padding-top: 0;
    }

    .text-default {
        color: #64483E;
        letter-spacing: 0;
    }

    .text-error {
        color: $red;
    }

    .chat-loading {
        max-width: 32px;
        transition: .2s;
    }

    .chat-box {
        margin-top: 4.3rem;
        padding-top: 6.25rem;

        @include media-breakpoint-down(sm) {
            margin-top: 6.8rem;
        }

        .chat-prompt {
            max-width: 206px;
            opacity: 0;
            transition: .2s;

            &.status {
                opacity: 1;
            }
        }
    }

    .chat-dialog {
        position: relative;
        max-width: 280px;
        background: #FFF3EE;
        animation: dialog .3s ease-in-out forwards;
        animation-delay: .15s;

        @keyframes dialog {
            from { 
                opacity: 0; 
                transform: translateY(20px); 
            }
            to   { 
                opacity: 1; 
                transform: translateY(0); 
            }
        }

        &::before {
            content: "";
            display: block;
            position: absolute;
            border-radius: .125rem;
            width: 1.25rem;
            height: 1.25rem;
            bottom: -.6rem;
            left: 50%;
            transform: translateX(-50%) scaleX(.75) rotate(45deg);
            background: #FFF3EE;
        }

        p {
            max-height: 3em;
            min-height: 1.5em;
        }
    }
    
    .chat-role {
        animation: light 1s ease-in-out infinite alternate;

        @keyframes light {
            to {
                transform: scaleY(.98);
                transform-origin: bottom;
                filter: brightness(1.03) drop-shadow(0 0 0 $white);
            }
        }
    }
    
    .chat-bottom {
        border-top-left-radius: 1rem;
        border-top-right-radius: 1rem;

        .chat-recording {
            max-width: 228px;
            width: 100%;
        }

        .chat-prompt {
            position: relative;
            margin-left: -.125rem;
            background: #FFF3EE;
            transition: .2s;

            &::before {
                content: "";
                display: block;
                position: absolute;
                border-radius: .125rem;
                width: 1.25rem;
                height: 1.25rem;
                bottom: -.6rem;
                left: 50%;
                transform: translateX(-50%) scaleX(.75) rotate(45deg);
                background: $white;
            }

            .text-default {
                color: $orange-900;
            }
        }
    }

    .recordingArea {
        transition: .3s;

        &.down {
            transform: translateY(14.25rem);
        }
    }

    .typingArea {
        transform: translateY(5.6rem);
        transition: .3s;

        &.up {
            transform: translateY(0);
        }
    }

    .form-control {
        border-color: #D8B9AC;
        border-radius: $border-radius-pill;

        &:focus {
            box-shadow: 0 0 0 .25rem rgba(#D8B9AC, .25);
        }

        &::placeholder {
            color: rgba(#A67668, .5);
        }
    }
}

.status {
    opacity: 1; 
    pointer-events: auto; 
    visibility: visible;
}

.remove-status {
    opacity: 0; 
    pointer-events: none; 
    visibility: hidden;
}

.disable {
    opacity: .5;
    pointer-events: none; 
}