@import '../utils/bars';
.page-role {
    color: #64483E;
    min-height: 100vh;
    // 設定背景漸層色
    background: linear-gradient(180deg, #FFF4E5 0%, #FFFFFF 100%) !important;
}

.role-wrapper {
    margin-top: 48px;
}

.welcome-img {
    width: 100%;
    height: auto;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.text-default-color {
    color: #64483E;
}

.py-148 {
    padding-top: 148px;
    padding-bottom: 148px;
}

.mb-14 {
    margin-bottom: 14px;
}

.scroll-bar {
    padding-top: 21px;
    padding-bottom: 8px;
    display: flex;
    justify-content: center;
}

@mixin bar-item($width, $height, $background-color) {
    width: $width;
    height: $height;
    background-color: $background-color;
    border-radius: 1000px;
}

.role-bar-item {
  @include bar-item(134px, 5px, $gray-400); // 默认颜色为 $gray-400
}

.active-bar-item {
  @include bar-item(54.5px, 8px, $seccolor-400); // 第一个的颜色
}
