<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>index</title>
  </head>
  <body class="page-index">
    <%- include('./layout/header'); -%>
    <section class="index-background px-6 pb-6 pt-9">
      <div class="d-flex justify-content-between align-items-center  ">
        <button type="button" class="btn btn-image" data-bs-toggle="button"><img src="/assets/images/index/prize.png" alt="prize-logo" class="user-image"   ></button>
        <button type="button" class="btn btn-image" data-bs-toggle="button"><img src="/assets/images/index/user-img.png" alt="user-logo" class="user-image" ></button>
      </div>
      <div class="px-8 pt-10">
        <div class="talk-bubble text-center top-0 position-relative">
          <p class="fs-t2 fw-bold ">嗨!Lora!<br>今天過得怎麼樣?</p>
        <i class="bi bi-caret-down-fill triangle-mark"></i>
        </div>
        <img src="/assets/images/chat/chat_bubu.png" alt="bubu" class="character-image">
      </div>
      <div class="mood-block mt-4 mb-150">
        <div class="line-block text-center">
            <h3 class="fs-t2 fw-bold text-color-new-1" id="date-todayheading"></h3>
            <p class="fs-t4 text-color-new-2 mb-3">請選擇符合心情的圖示</p>
            <ul class="nav justify-content-between">
              <li><img class="mood-img" data-mood="very-happy" data-label="超開心" src="/assets/images/index/mood/mood-very-happy.svg"
                  alt="超開心"></li>
              <li><img class="mood-img" data-mood="happy" data-label="開心" src="/assets/images/index/mood/mood-happy.svg" alt="開心">
              </li>
              <li><img class="mood-img" data-mood="normal" data-label="普通" src="/assets/images/index/mood/mood-normal.svg" alt="普通">
              </li>
              <li><img class="mood-img" data-mood="unhappy" data-label="不開心" src="/assets/images/index/mood/mood-unhappy.svg"
                  alt="不開心"></li>
              <li><img class="mood-img" data-mood="sad" data-label="傷心" src="/assets/images/index/mood/mood-sad.svg" alt="傷心"></li>
            </ul>
        </div>
      </div>
    </section>


    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
    <script src="../date.js"></script>
    <script>

      // 點擊 → 存選擇 → 換頁
  document.querySelectorAll('.mood-img').forEach(img => {
    img.style.cursor = 'pointer';
    img.addEventListener('click', () => {
      const pick = {
        id:    img.dataset.mood,
        label: img.dataset.label,
        src:   img.getAttribute('src'),
        time:  Date.now()
      };
      sessionStorage.setItem('selectedMood', JSON.stringify(pick));
      location.href = '/MOODMATE/pages/record.html';  // 你的下一頁路徑
    });
  });
    </script>
  </body>
</html>