<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>index</title>
  </head>
  <body>
    <%- include('./layout/header'); -%>
    <section class="index-background px-6 pb-6 pt-9">
      <div class="d-flex justify-content-between align-items-center  ">
        <button type="button" class="btn btn-image" data-bs-toggle="button"><img src="/assets/images/index/prize.png" alt="prize-logo" class="user-image"   ></button>
        <button type="button" class="btn btn-image" data-bs-toggle="button"><img src="/assets/images/index/user-img.png" alt="user-logo" class="user-image" ></button>
      </div>
      <div class="px-8 pt-160 position-relative">
        <div class="talk-bubble text-center fs-t2 fw-bold">嗨!Lora!<br>今天過得怎麼樣?</div>
        <img src="/assets/images/chat/chat_bubu.png" alt="bubu" class="character-image">
      </div>
      
    
    </section>


    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>
